a[target="_blank"]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

td.details-control {
  cursor: pointer;
}

span.nope {
  unicode-bidi:bidi-override;
  direction: rtl;
}

body {
  min-height: 100px;
  padding-top: 70px;
}

.footer {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
}

.bar {
  fill: #d8dcd6;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #d9544d;
  stroke-width: 3px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

selection {
  width: 100%;
}

.select2-container {
  width: 100%;
}

.row-larger {
  margin-top: 30px;
  margin-bottom: 30px; 
}

.jumbotron {
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
}

.glyphicon-bigger {
  font-size: 60px;
  margin-top: 25px;
  margin-bottom: 25px;
}

table.dataTable thead > tr > th {
    padding-left: 30px !important;
    padding-right: initial !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    left: 8px !important;
    right: auto !important;
}